storage: none
source https://api.nuget.org/v3/index.json

nuget Microsoft.AspNetCore.App
nuget Giraffe
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost
nuget xunit
nuget xunit.runner.visualstudio
nuget FSharp.Azure.StorageTypeProvider
nuget FSharp.Data
nuget Newtonsoft.Json

group scripts
    source https://www.nuget.org/api/v2
    framework: net472

    nuget FSharp.Data
    nuget FSharp.Azure.StorageTypeProvider
    nuget Newtonsoft.Json

group azureRes
    source https://nuget.org/api/v2
    framework: net472

    nuget Microsoft.Azure.Management.Fluent
