storage: none
source https://api.nuget.org/v3/index.json

nuget Giraffe.GoodRead
nuget Microsoft.AspNetCore.App 2.2.0
nuget Giraffe
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.AspNetCore.TestHost
nuget Serilog.Sinks.AzureTableStorage
nuget xunit
nuget xunit.runner.visualstudio
nuget FSharp.Azure.StorageTypeProvider
nuget FSharp.Data
nuget Newtonsoft.Json
nuget Serilog.AspNetCore
nuget Serilog.Sinks.Console
nuget Serilog.Settings.Configuration
nuget Giraffe.SerilogExtensions

group scripts
    source https://www.nuget.org/api/v2
    framework: net472

    nuget FSharp.Data
    nuget FSharp.Azure.StorageTypeProvider
    nuget Newtonsoft.Json

group azureRes
    source https://nuget.org/api/v2
    framework: net472

    nuget Microsoft.Azure.Management.Fluent