source https://api.nuget.org/v3/index.json
framework: >= net472

nuget FSharp.Collections.ParallelSeq
nuget FSharp.Core
nuget Suave
nuget System.Configuration.ConfigurationManager
nuget System.ValueTuple
nuget FSharp.Azure.StorageTypeProvider ~> 1.9
nuget FSharp.Data
nuget Newtonsoft.Json

group scripts
    source https://www.nuget.org/api/v2
    framework: net472

    nuget FSharp.Data
    nuget FSharp.Azure.StorageTypeProvider
    nuget Newtonsoft.Json

group azureRes
    source https://nuget.org/api/v2
    framework: net472

    nuget Microsoft.Azure.Management.Fluent
