<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- <connectionStrings>
    <add name="azureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=lemonjobsinfostore;AccountKey=IHZJErpeGFXXZpC5GoamWuDPQZV+oF42vG7wC+7uqjeZ1JhVUOMWgkeGqaQl/qyCoYs2YhtHHMVhY9FpuGhDCQ==;EndpointSuffix=core.chinacloudapi.cn"/>
  </connectionStrings> -->
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments="JobsNearby.Api.G.dll" stdoutLogEnabled="false" stdoutLogFile="logs/stdout" />
  </system.webServer>
</configuration>