<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="azureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=lemonjobsinfostore;AccountKey=IHZJErpeGFXXZpC5GoamWuDPQZV+oF42vG7wC+7uqjeZ1JhVUOMWgkeGqaQl/qyCoYs2YhtHHMVhY9FpuGhDCQ==;EndpointSuffix=core.chinacloudapi.cn"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\suave.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\JobsNearby.Api.exe" arguments="%HTTP_PLATFORM_PORT%"/>
  </system.webServer>
</configuration>